@import "variables";
/* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";

.logo-container {
    text-align: center;
    margin-bottom: 20px;

    h1 {
        color: $primary !important;
        font-family: "Josefin Sans", sans-serif !important;
        text-align: left;
    }
}

.container-fluid {
    padding: 20px;
}

.buttons-container {
    button {
        text-align: left !important;
        font-size: 24px;
    }

    button:hover {
        box-shadow: inset 0 0 5px #0000002a !important;
    }
}

.search-container {
    .input-group-text, .form-control {
        background-color: $lighter-theme !important;
        border: none;
    }

    .form-control {
        transition: none !important;
        box-shadow: none !important;
    }
}

.policies {
    max-width: 250px;
    a {
        text-decoration: none;
    }

    p {
        color: $policy !important;
        font-size: 14px;
    }

    .row {
        margin-top: 20px;
    }
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;

    .btn {
        font-size: 20px;
        transition: 0.2s ease !important;
    }
}

.middle {
    &-column {
        border-left: 1px $primary solid;
        border-right: 1px $primary solid;
        padding: 0px 20px;
    }
}

@media (max-width: 767px) {
    .logo-container {
        margin-bottom: 10px;

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .search-container, .policies {
        display: none !important;
    }

    .bottom-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .buttons-container {
        display: none !important;
    }

    .middle {
        &-column {
            border: none;
        }
    }

    .container-fluid {
        margin-bottom: 50px;
    } 
}
